<div>
    <h1 mat-dialog-title style="display: flex; align-items: center !important; justify-content: center;"><img src="./assets/images/standard_bank_logo 1.png" alt="Stanbic Logo"><span>Terms of Use</span></h1>
</div>
<div mat-dialog-content class="content">

    <h3>1. INTRODUCTION</h3>
    <p>Welcome to Stanbic IBTC Quick Services Portal (“Portal”), a proposition offered to you by Stanbic IBTC Bank PLC (“Stanbic IBTC”). Stanbic IBTC Quick Services Portal is a website/medium through which customers can access/send their request(s) to Stanbic
        IBTC remotely. The Portal running is developed, maintained and powered by Stanbic IBTC.
    </p>
    <h3>2. Definitions</h3>
    <p><strong>Applicable Laws:</strong> means the laws of the Federal Republic of Nigeria including but not limited to national, provincial, local and municipal legislation or subordinate legislation, ordinances, regulations, by-laws, rules and/or other
        laws of any relevant Regulatory Authority and any other instrument having the force of law as may be issued and in force from time to time as well as common law, all as relating to or connected with the activities contemplated under this Agreement
        and as updated from time to time;
    </p>
    <p><strong>Company:</strong> means Users access/send their requests on behalf of their Company on Stanbic IBTC Quick Services Portal. There might be several Users for one Company.
    </p>
    <p><strong>Services:</strong> means the services/requests available via Stanbic IBTC Quick Services including but not limited to Account Opening, Account reactivation, Onboarding on Internet Banking/Other channels, Additional services such as data update,
        password reset, failed transaction dispute, Investment and Loan requests.
    </p>
    <p><strong>Stanbic IBTC Bank PLC:</strong> means Stanbic IBTC Bank PLC (RC 125097) with the registered office at IBTC Place, Walter Carrington crescent, Victoria Island, Lagos, affiliate of Stanbic IBTC Holdings PLC and a member of the Standard Bank
        Group.
    </p>
    <p><strong>Stanbic IBTC Quick Services:</strong> means Stanbic IBTC Quick Services, a website, developed and operated by Stanbic IBTC Bank PLC, offering a requester solution to customers and prospective customers of Stanbic IBTC.
    </p>
    <p><strong>Personal Information:</strong> means information about an identifiable, natural person and where applicable, a juristic person, including, but not limited to information about: race; gender; sex; pregnancy; marital status; nationality; ethnic
        or social origin; colour; sexual orientation; age; physical or mental health; well-being; disability; religion; conscience; belief; culture; language; birth; education; medical, financial, criminal or employment history; any identifying number,
        symbol, e-mail, postal or physical address, telephone number; location; any online identifier; any other particular assignment of the person; biometric information; personal opinions, views or preferences of the person or the views or opinions
        of another individual about the person; correspondence sent by the person that is implicitly or explicitly of a private or confidential nature or further correspondence that would reveal the contents of the original correspondence; and the name
        of the person if it appears with other personal information relating to the person or if the disclosure of the name itself would reveal information about the person;
    </p>
    <p><strong>Process:</strong> means any operation or activity or any set of operations, whether or not by automatic means, concerning Data, including its collection, receipt, recording, organization, collation, storage, updating or modification, merging,
        linking, blocking, degradation, erasure or destruction retrieval, alteration, consultation, testing or use, dissemination or distribution by any means and <strong>"Processing”</strong> shall have a corresponding meaning;
    </p>
    <p><strong>Operator:</strong> means a person who processes personal information for a responsible party in terms of a contract or mandate, without coming under the direct authority of that party.
    </p>
    <p><strong>Terms of Use:</strong> The present terms and conditions.
    </p>
    <p><strong>User:</strong> means natural person who is a user of Stanbic IBTC Quick Services. A user acts on behalf and for account of his or her Company. Unless otherwise specified or otherwise required in the light of the specific context, any reference
        to "you" or "User" should be read as a reference to the relevant Company.
    </p>
    <p><strong>Website:</strong> means the Stanbic IBTC Quick Services Portal.
    </p>

    <h3>II GENERAL PROVISIONS</h3>
    <h4><u>1. Access to the Website</u></h4>
    <p>A. Access
        <br> Stanbic IBTC Quick Services is exclusively accessible for customers & prospective customers of Stanbic IBTC. Anyone who desires to access Quick Services must review these Terms of Use with the utmost of care and accept herein. The Terms of
        Use are accepted when first accessing the web page and with every visit thereafter. Stanbic IBTC may modify, alter or update these Terms of Use at any time without prior notice, and such modifications shall be effective immediately upon posting
        of the modified Terms of Use on Quick Services unless provided otherwise. Any subsequent use of the Website shall constitute such User's consent to the modification, alteration or update. Access to the Website is Twenty-four (24) hours, except
        for the times when upgrades or maintenance procedures are performed, or when there are problems that are attributable to the network providers. Access to the Website for a Company requires the recognition and confirmation of the User that he or
        she is authorised contractually to represent a Company with respect to requests for services and information that he or she could forward. Subject to the foregoing, every User expressly acknowledges that Stanbic IBTC may interrupt at any time
        without prior notice access to the Website and cannot guarantee continuous uninterrupted access.to the Website
    </p>
    <p>B. Termination of User's or Company's Account and Access
        <br> Stanbic IBTC retains the right to determine whether or not a User's conduct is consistent with these Terms of Use and may terminate said User's access to the Website if that User's conduct is found to be inconsistent with these Terms of Use.
        The termination of any User's access to the Website may be affected without notice. Stanbic IBTC shall not be liable to any User, Company or other third party for any termination hereunder. In case of termination of an access for whatever reason,
        Stanbic IBTC reserves the right to delete, or not delete, a User's account at its sole discretion, as well as to delete, or not delete Services or Content at its sole discretion.
    </p>
    <h4><u>2. Information about processing of Personal Information</u></h4>
    <p>When accessing the Website, the User's Personal Information is necessary for the provision of the services offered through the platform. Stanbic IBTC shall be responsible for the control of Personal Information on Stanbic IBTC Quick Services. The
        Personal Information will be Processed for the purpose requested by the User, customization and administration of the requested service.</p>
    <p>The User authorizes Stanbic IBTC to collect, use, transfer, store or in other ways handle (altogether “to Process”) it’s data, Company data and/or its Personal Information.</p>
    <p>Depending on the service request, Stanbic IBTC affiliate companies that are connected to the Stanbic IBTC Quick Services may receive User’s Personal Information, such requests shall be subject to the User’s consent.</p>
    <p>2.1 Consent
        <br> Users hereby consent to Stanbic IBTC collecting their Personal Information from users and where lawful and reasonable, from public sources for fraud and compliance purposes, as well as the purposes set out below.
    </p>
    <p>Users further consent to Stanbic IBTC Processing their Personal Information:</p>
    <ul>
        <li>to provide the requested services in relation to the Stanbic IBTC Quick Services to the User;</li>
        <li>by sharing your Personal Information with our third-party service providers, locally and outside the Federal Republic of Nigeria. Stanbic IBTC asks people who provide services to Stanbic IBTC to agree to our privacy policies if they need access
            to any Personal Information to carry out the requested services;</li>
        <li>within the Stanbic IBTC Holdings Group.</li>
    </ul>
    <p>If a User gives Stanbic IBTC Personal Information about or on behalf of another person (including, but not limited to shareholders, principal executive officers, trustees and beneficiaries), the User confirms that he/she is authorised to: (a) give
        Stanbic IBTC the Personal Information; (b) consent on behalf of the other person to the Processing of their Personal Information, specifically any cross-border transfer of Personal Information into and outside the country where the products or
        services are provided; and (c) receive any privacy notices on their behalf.</p>
    <p>More information on how Stanbic IBTC process Personal Information, is available in the Stanbic IBTC Privacy Statements which are available on the Group’s website.</p>

    <!-- 3 -->
    <h4><u>3. General Website content</u></h4>
    <p>Any information on this Website, unless explicitly stated, does not constitute an offer, solicitation to conclude a contract, or a binding obligation, by Stanbic IBTC. The information is not to be considered or used as professional advice from Stanbic
        IBTC and does not take into account the individual requirements of the Company or User.</p>

    <!-- 4 -->
    <h4><u>4.Liability of Stanbic IBTC</u></h4>
    <p>Any services accessible via or through the Website are offered by Stanbic IBTC. Stanbic IBTC expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness
        for a particular purpose and non-infringement.</p>
    <p>Users take full responsibility for information they may share directly with other Users without Stanbic IBTC’s consent. The User hereby indemnifies Stanbic IBTC against any claim and damages which Stanbic IBTC may suffer in respect of information
        shared with other Users outside the parameters of Stanbic IBTC Quick Services.</p>

    <!-- 5 -->
    <h4><u>5. Intellectual property rights</u></h4>
    <p>Stanbic IBTC owns all intellectual property, proprietary information and/or content published on or in relation to the Website.</p>
    <p>All trademarks, domain names, business names, company names, logos, devises, inscriptions, word marks and/or any other form of intellectual property on our Website, belong to Stanbic IBTC Nothing on our Website is a license (permission) or right to
        use the aforementioned intellectual property, for any purpose. Therefore, the reproduction and/or adaptation and/or use of same is strictly prohibited in any form or type without express authorization from Stanbic IBTC and/or the respective legal
        owner thereof.</p>
    <p>You may not establish a hyperlink, frame, metatag or similar reference, whether electronically or otherwise to the Website or any subsidiary pages, without our prior written consent, which consent is at Stanbic IBTC’s sole discretion.
    </p>
    <p>Even if any content on the Website is not confidential or there is no copyright in it, Stanbic IBTC owns such content. </p>

    <!-- 6 -->
    <h4><u>6. Availability of the Website</u></h4>
    <p>Although Stanbic IBTC is using innovative solutions to maintain the Website, it declares that the Website may not always be available, Operation of Stanbic IBTC Quick Services may be subject to interference from numerous factors outside of Stanbic
        IBTC’s control. Further, scheduled and preventive maintenance as well as required and emergency maintenance work may temporarily interrupt services or access to Stanbic IBTC Quick Services. Consequently, Users accessing the Website recognize and
        accept explicitly that its use of the Website is "in its present condition, subject to availability."</p>
    <p>Stanbic IBTC does not assume responsibility for any damages incurred due to the lack of accessibility to the Website services or as a result of damage caused by viruses, corrupted files, errors, omissions, interruptions of service, deletion of content,
        problems with the network, providers or telephone connections and/or telematics connections, unauthorised access, data manipulation, or by malfunction and/or faulty function of the electronic devices of the User himself.</p>

    <!-- 7 -->
    <h4><u>7. Usage of the Website</u></h4>
    <p>Stanbic IBTC declares that the content of the Website cannot be completely or partially copied, reproduced, republished, charged, transmitted, forwarded or distributed in any form without prior written authorization from Stanbic IBTC; exceptions include
        activities such as printing, downloading and viewing a part of the contents of the Website according to these Terms of Use and subject to the necessity that all information related to the rights of intellectual and/or industrial property rights
        are respected.</p>
    <p>The Users are responsible for their use of the Website, therefore Stanbic IBTC cannot be considered in any way liable if the User utilizes the Website or its content illegally, Users shall be liable for such actions.</p>
    <p>For selected Services on the Website authentication will be carried out for Stanbic IBTC customers and prospective customers; this authentication information is personal and confidential. The User agrees to handle the authentication information confidentially
        and never to divulge it to third parties in any form and inform Stanbic IBTC promptly about any use by unauthorised third persons. All documents provided by the Users electronically will undergo Stanbic IBTC internal validation process and requests
        will be treated in line with the Stanbic IBTC existing procedure. </p>

    <!-- 8 -->
    <h4><u>8. Obligations of the Users of the Website</u></h4>
    <p>All Users who access the Website declare, implicitly, to be of legal age of eighteen years and you represent that you are legally permitted to use the services on the Website. Users agree to not use the Website and the material that it contains for
        purposes that are illicit, contrary to Applicable Laws, current regulations, and/or in violation of third-party rights; act responsibly and in good faith when navigating and using the Website and use the Website only in relation to the services
        in accordance with the Terms of Use;</p>

    <!-- 9 -->
    <h4><u>9. Changes or additions to the Website</u></h4>
    <p>Stanbic IBTC can replace, add, modify and/or amend the Website and/or its contents as well as its implemented technology at any time without notice and at its own discretion. </p>

    <!-- 10 -->
    <h4><u>10. Governing law and jurisdiction</u></h4>
    <p>The Terms of Use shall be governed by the laws of the Federal Republic of Nigeria.</p>

    <!-- 11 -->
    <h4><u>11. Indemnity; Disclaimer; Limitations of Liability</u></h4>
    <p>The use of Stanbic IBTC Quick Services is at the User's sole risk. Stanbic IBTC Quick Services is provided on an "as is" and "as available" basis and Stanbic IBTC assumes no responsibility for the timeliness, deletion, mis-delivery or failure to store
        any User's information. The User understands and agrees that any material and/or data downloaded or otherwise obtained through the use of the service is done at User's own discretion and risk and that each User will be solely responsible for any
        damage to his or her computer system or loss of data that results from the download of any such material.</p>
    <p>Stanbic IBTC has made every attempt to ensure the accuracy and reliability of the information provided on this platform. However, the information is provided “as is” without warranty of any kind. Stanbic IBTC does not accept any responsibility or
        liability for the accuracy, content, completeness, legality or reliability of the information contained on this platform.</p>
    <p>You agree to indemnify and hold Stanbic and its subsidiaries, affiliates, officers, agents, co-branders or other partners, and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising
        out of any information you submit, post, transmit or make available through the Stanbic IBTC Quick Services, your use of the Service, your connection to the Service, your violation of the Terms of Use, or your violation of any rights of another.</p>
    <p>Stanbic IBTC shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to damages for loss of goods, property, profits, goodwill, use, data or other intangible losses (even if
        Stanbic IBTC has been advised of the possibility of such damages), resulting from any User's use or inability to use Stanbic IBTC Quick Services thereon; or from any other matter relating to Stanbic IBTC Quick Services . </p>
    <p>No advice or information obtained by any User from or through Stanbic IBTC Quick Services shall create any warranty not expressly made herein. Moreover, nothing herein shall be deemed to create an agency, partnership, joint venture, employee-employer
        or franchisor-franchisee relationship of any kind between Stanbic IBTC and any User or other person or entity nor do these Terms of Use extend rights to any third party.</p>
    <p>As noted above, Stanbic IBTC does not and cannot control all the actions of site Users, Vendors or linked third parties. Stanbic IBTC reserves the right to report any malfeasance that comes to its attention to the appropriate authorities.</p>
    <p>The foregoing disclaimers of warranty and limitations of liability apply, without limitation, to any damages or injury caused by the failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer
        virus, communication line failure, theft or destruction or unauthorized access to, alteration of or use of any asset, whether arising out of breach of contract, tortious behaviour, negligence or any other course of action by Stanbic IBTC.</p>
    <p>You agree to indemnify Stanbic IBTC and hold it harmless for all damages, losses and costs (including, but not limited to, reasonable attorney's fees and costs) related to all third party claims, charges, and investigations, caused by your failure
        to comply with these Terms of Use, including, without limitation, your submission of Content that violates third party rights or applicable laws.</p>

    <!-- 12 -->
    <h4><u>12. Confidentiality</u></h4>
    <p>The Parties are obliged to treat all information provided on the Portal as confidential information, the Users shall treat such information with all due care and not make such information available to third parties. Where the User is acting on behalf
        of a company the duty of confidentiality shall extend to the Company’s employees.
    </p>

    <!-- 13 -->
    <h4><u>13. How to Contact Us</u></h4>
    <p>If you have questions or comments about these Terms of Use, please contact us on <strong> 0700 909 909
            909</strong> or via email at
        <strong>CustomerCareNigeria@stanbicibtc.com</strong></p>

    <!-- I Agree -->
    <section class="example-section">
        <mat-checkbox class="example-margin" required [checked]="iAgree" (change)="onClickAgree($event.checked)">I Agree
        </mat-checkbox>
    </section>

</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">I disagree</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="!iAgree" (click)="onClickProceed()">Proceed</button>
</mat-dialog-actions>